/*! 
 *   Custom CSS
 *   Author: Tamrack Consulting
 *   Added for customization of AdminLTE Dashboard
!*/
/*
    Core: General style
----------------------------
*/

    #map
{	
	position:absolute !important;
	height:100% !important;
	width:100% !important;
   
    min-height: 100% !important;
    min-width: 100% !important;
    display: block !important;
}


html, body
{
    height: 100% !important;
}



body
{
    padding-top: 30px !important; /*for navbar*/
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
    box-sizing: border-box !important; /* Opera/IE 8+ */
}


.filterControls{
	text-align: center;
}
.filterResults{
	margin-left:5px;
	margin-right:5px;
}
.table td{
	padding:5px;
}
.popup-content{
    padding-top:5px;
}
.modalFilter{
    margin-top:5px;
    margin-bottom:5px;
}
.top-button{
    margin-top:10px;
    margin-left:10px;
}
.top-select{
    margin-top:10px;
}
.navbar-top{
    padding-right: 10px;
}
.leaflet-left{
   
}
.menu-button{
    margin-top: 5px;
    margin-bottom: 5px !important;
    margin-left: 5px;
    color: white !important;
}
.menu-toggle{
    width: 92%;
}
