/*! 
 *   Custom CSS
 *   Author: Tamrack Consulting
 *   Added for customization of AdminLTE Dashboard
!*/
/*
    Core: General style
----------------------------
*/

    #map
{	
	position:absolute !important;
	height:100% !important;
	width:100% !important;
   
    min-height: 100% !important;
    min-width: 100% !important;
    display: block !important;
}


html, body
{
    height: 100% !important;
}



body
{
    padding-top: 30px !important; /*for navbar*/
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
    box-sizing: border-box !important; /* Opera/IE 8+ */
}

.filterSelect{
	margin-left:5px;
	margin-right:5px;
}
.filterControls{
	text-align: center;
}
.filterResults{
	margin-left:5px;
	margin-right:5px;
}
.table td{
	padding:5px;
}
.popup-content{
    padding-top:5px;
}
